<div class="main">
    
    <h1>USER.HTML FILE</h1>
    <p> Welcome - {{usersObj.username}} - </p>
    <p> Welcome - {{usersObj.password}} - </p>
    <p> mail - {{usersObj.email}} - </p>
    <p> registration Date: - {{usersObj.regDate}} - </p>

</div>

