<div class="navbar">
  <a href="/">Home</a>
  {{#unless userLoginState }}
    <a href="register">Register</a>
    <a href="login">Login</a>
  {{/unless}}
  {{#if userLoginState }}
      <a href="logout">Logout</a>
  {{/if}}
  
</div>